/* Conteneur principal du menu */
.menu-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* S'assurer que le conteneur prend la hauteur de la vue */
}

.main-content {
    flex: 1; /* S'assurer que la section de contenu prend tout l'espace restant */
    display: flex;
    
}



/* Styles pour les éléments du menu en haut */
.menu-item {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}



/* Styles pour la section de contenu */
.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}



/* Styles pour l'en-tête de la section de contenu */
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Styles pour le bouton "Insérer véhicule" */
.insert-vehicle-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.insert-vehicle-button:hover {
    background-color: #218838;
}


/* Styles pour les icônes d'action dans le tableau */
.action-icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.validate-icon {
    color: #28a745; /* Vert pour valider */
}

.reject-icon {
    color: #dc3545; /* Rouge pour rejeter */
}

/* Effets de survol pour les icônes */
.action-icon:hover {
    color: #0056b3;
}

/* Styles pour le sous-menu */
.sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    width: 200px; /* Ajuster la largeur si nécessaire */
}

.sub-menu-item {
    padding: 10px;
    color: #007bff;
    text-decoration: none;
    display: block;
}

.sub-menu-item:hover {
    background-color: #e9ecef;
}




/* Styles pour le modal */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
    background: white;
    border-radius: 4px;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    margin: auto;
    position: relative;
}
